Repository hmcts/finrem-payment-service, pull requests merged in 2019-08, with the labels that each got.

#28 Dependency check fix
  Jenkinsfile_CNP
Labels: ns:finrem-ps-pr-28

#29 Updated PRD API OLD enabled to false.
  infrastructure/aat.tfvars
Labels: ns:finrem-ps-pr-29

#32 Aat prd api
  Dockerfile
  charts/finrem-ps/requirements.yaml
  lib/applicationinsights-agent-2.3.1.jar
Labels: ns:finrem-ps-pr-32

#33 FR_1347_AppInsights Fix and Docker Image fix
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  src/main/java/uk/gov/hmcts/reform/finrem/payments/insights/AppInsights.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/payments/insights/AppInsightsTest.java
Labels: ns:finrem-ps-pr-33
