Repository hmcts/finrem-payment-service, pull requests merged in 2019-09, with the labels that each got.

#27 FR_1127 integrate new prd api
  dependency-check-suppressions.xml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/finrem/payments/config/PBAValidationServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/controllers/PBAValidateController.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/error/InvalidTokenException.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/model/pba/validation/ContactInformationResponse.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/model/pba/validation/DxAddressResponse.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/model/pba/validation/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/model/pba/validation/PBAOrganisationResponse.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/model/pba/validation/SuperUserResponse.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/service/PBAPaymentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/service/PBAValidationService.java
  src/main/resources/application.properties
  src/smokeTest/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/payments/SetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/config/PBAValidationServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/integrationtest/PaymentE2ETest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/model/pba/validation/ContactInformationResponseTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/model/pba/validation/DxAddressResponseTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/model/pba/validation/OrganisationEntityResponseTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/model/pba/validation/PBAOrganisationResponseTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/model/pba/validation/SuperUserResponseTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/service/PBAValidationServiceTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/payment-by-account.json
Labels: ns:finrem-ps-pr-27

#37 Pact Consumer tests against SIDAM
  Jenkinsfile_CNP
  build.gradle
  dependency-check-suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/finrem/payments/contract/SidamConsumerTest.java
  src/contractTest/resources/application-contractTest.properties
Labels: ns:finrem-ps-pr-37

#39 1127_prd_fix
  src/main/resources/application.properties
  src/smokeTest/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/payments/config/PBAValidationServiceConfigurationTest.java
  src/test/resources/application.properties
Labels: ns:finrem-ps-pr-39

#36 CNP_fix
  infrastructure/main.tf
Labels: ns:finrem-ps-pr-36

#41 1127_prd_fix
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/payments/service/PBAValidationService.java
Labels: ns:finrem-ps-pr-41

#42 1127 new endpoint
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/payments/model/pba/validation/ContactInformationResponse.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/model/pba/validation/SuperUserResponse.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/SetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/config/PBAValidationServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/model/pba/validation/OrganisationEntityResponseTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/model/pba/validation/PBAOrganisationResponseTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/model/pba/validation/SuperUserResponseTest.java
  src/test/resources/fixtures/payment-by-account.json
Labels: ns:finrem-ps-pr-42
