Repository hmcts/finrem-payment-service, pull requests merged in 2019-05, with the labels that each got.

#22 Implement Helm Charts.
  build.gradle
  dependency-check-suppressions.xml
  src/main/resources/application.properties
  src/main/resources/bootstrap.yaml
  src/smokeTest/resources/application.properties
  src/test/resources/application.properties
Labels: ns:finrem-ps-pr-22

#23 Update to get the latest contested fee.
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/payments/PaymentServiceTests.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/config/ApplicationTypeEnumConverter.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/config/FeeServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/controllers/FeeLookupController.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/model/ApplicationType.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/service/FeeService.java
  src/main/resources/application.properties
  src/smokeTest/java/uk/gov/hmcts/reform/finrem/payments/smoketests/PaymentSmokeTests.java
  src/smokeTest/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/payments/SetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/config/ApplicationTypeEnumConverterTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/config/FeeServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/controllers/FeeLookupControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/integrationtest/PaymentE2ETest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/model/ApplicationTypeTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/service/FeeServiceTest.java
  src/test/resources/application.properties
Labels: ns:finrem-ps-pr-23

#24 FR_1007_smoke_test_fix
  src/smokeTest/java/uk/gov/hmcts/reform/finrem/payments/smoketests/PaymentSmokeTests.java
  src/smokeTest/resources/application.properties
Labels: ns:finrem-ps-pr-24
