Repository hmcts/finrem-payment-service, pull requests merged in 2019-02, with the labels that each got.

#3 adding the security nightly tests
  Jenkinsfile_nightly
  functional-output/.gitignore
  security.sh
Labels: ns:finrem-frps-pr-3

#4 FR_716_smoke tests
  Dockerfile
  build.gradle
  src/smokeTest/java/uk/gov/hmcts/reform/finrem/payments/smoketests/PaymentSmokeTests.java
  src/smokeTest/java/uk/gov/hmcts/reform/finrem/payments/smoketests/SmokeTestConfiguration.java
  src/smokeTest/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/payments/integrationtest/FeePaymentE2ETest.java
Labels: ns:finrem-frps-pr-4

#9 HS:FR-655 : Adding health check for PBA service
  src/main/java/uk/gov/hmcts/reform/finrem/payments/health/AbstractServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/health/PBAServiceHealthCheck.java
  src/main/resources/application.properties
  src/smokeTest/java/uk/gov/hmcts/reform/finrem/payments/smoketests/PaymentSmokeTests.java
  src/smokeTest/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/payments/health/PBAServiceHealthCheckTest.java
  src/test/resources/application.properties
Labels: ns:finrem-frps-pr-9

#10 FR_651_Fix demo env issue
  infrastructure/demo.tfvars
Labels: ns:finrem-frps-pr-10

#11 Temporary fix for demo env
  infrastructure/demo.tfvars
Labels: ns:finrem-frps-pr-11

#12 Fix with demo api url
  infrastructure/demo.tfvars
Labels: ns:finrem-frps-pr-12

#13 FR_716_fix for smoke tests
  src/smokeTest/java/uk/gov/hmcts/reform/finrem/payments/smoketests/PaymentSmokeTests.java
  src/smokeTest/resources/application.properties
Labels: ns:finrem-frps-pr-13

#15 disable swagger on prod and don't send client stack trace
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/finrem/payments/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/error/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/payments/error/PaymentExceptionHandler.java
  src/main/resources/application.properties
Labels: ns:finrem-ps-pr-15

#16 Payment validation automation tests
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  infrastructure/main.tf
  infrastructure/output.tf
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/IntegrationTestBase.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/TestContextConfiguration.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/idam/IdamUserClient.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/idam/IdamUtils.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/payments/PaymentServiceTests.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/util/FunctionalTestUtils.java
  src/functionalTests/resources/application-aat.properties
  src/functionalTests/resources/application-demo.properties
  src/functionalTests/resources/application-local.properties
  src/functionalTests/resources/application-saat.properties
  src/functionalTests/resources/application.properties
  src/functionalTests/resources/json/FailurePaymentRequestPayload.json
  src/functionalTests/resources/json/SuccessPaymentRequestPayload.json
  src/functionalTests/resources/json/serviceAuth.json
  src/functionalTests/resources/json/userCreation.json
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/payments/config/SwaggerConfiguration.java
  src/test/functionalTest/java/uk/gov/hmcts/probate/functional/IntegrationTestBase.java
  src/test/functionalTest/java/uk/gov/hmcts/probate/functional/TestContextConfiguration.java
  src/test/functionalTest/java/uk/gov/hmcts/probate/functional/feelookuptests/PBAPaymentTest.java
  src/test/functionalTest/java/uk/gov/hmcts/probate/functional/util/TestUtils.java
  src/test/functionalTest/resources/application.properties
  src/test/functionalTest/resources/json/emptyCaseData.json
  src/test/functionalTest/resources/json/feelookup.json
Labels: ns:finrem-ps-pr-16
