Repository hmcts/finrem-payment-service, pull requests merged in 2020-05, with the labels that each got.

#61 Fix payment url
  charts/finrem-ps/Chart.yaml
  charts/finrem-ps/values.yaml
Labels: ns:financial-remedy, rel:finrem-ps-pr-61

#62 Swap to AKS
  Jenkinsfile_CNP
Labels: ns:financial-remedy, rel:finrem-ps-pr-62

#64 Cleaning up ASE
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:financial-remedy, rel:finrem-ps-pr-64

#66 Removing InstallCharts()
  Jenkinsfile_CNP
  build.gradle
  checkstyle.xml
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/payments/PaymentServiceTests.java
  src/functionalTests/resources/application.properties
  src/functionalTests/resources/json/SuccessPaymentRequestPayload.json
Labels: ns:financial-remedy, rel:finrem-ps-pr-66
