Repository hmcts/finrem-payment-service, pull requests merged in 2020-06, with the labels that each got.

#65 RPET-238: Update payment keyword
  src/main/resources/application.properties
  src/smokeTest/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/payments/config/FeeServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/integrationtest/PaymentE2ETest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/service/FeeServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, rel:finrem-ps-pr-65

#70 Mutation tests
  Jenkinsfile_nightly
  README.md
  build.gradle
Labels: ns:financial-remedy, rel:finrem-ps-pr-70

#71 add fee keyword to aat and demo values.yaml
  charts/finrem-ps/values.aat.template.yaml
  charts/finrem-ps/values.preview.template.yaml
Labels: ns:financial-remedy, rel:finrem-ps-pr-71
