Repository hmcts/finrem-payment-service, pull requests merged in 2021-04, with the labels that each got.

#105 RPET-921 upgrade chart java
  charts/finrem-ps/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ps-pr-105

#106 RPET-746: Send case_type
  src/main/java/uk/gov/hmcts/reform/finrem/payments/model/pba/payment/PaymentRequest.java
  src/test/java/uk/gov/hmcts/reform/finrem/payments/model/pba/payment/PaymentRequestTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ps-pr-106

#102 TA-471: Add CanIDeploy Pact to pipeline
  Jenkinsfile_CNP
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ps-pr-102
