Repository hmcts/finrem-payment-service, pull requests merged in 2021-02, with the labels that each got.

#96 Upgrade Helm chart API version to v2
  charts/finrem-ps/Chart.yaml
  charts/finrem-ps/requirements.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ps-pr-96

#97 Update base chart to latest version
  build.gradle
  charts/finrem-ps/Chart.yaml
  src/main/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ps-pr-97

#95 Ta 393 consumer pact test
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/finrem/payments/contract/FeeLookupConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/finrem/payments/contract/PBAPaymentConsumerFailTest.java
  src/contractTest/java/uk/gov/hmcts/reform/finrem/payments/contract/PBAPaymentConsumerSuccessTest.java
  src/contractTest/java/uk/gov/hmcts/reform/finrem/payments/contract/PBAValidateConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/finrem/payments/contract/SidamConsumerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ps-pr-95

#99 Load AI key from vault
  src/main/resources/bootstrap.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ps-pr-99

#100 zap ignore false positive.
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ps-pr-100

#101 Include AI secret in Helm chart
  charts/finrem-ps/Chart.yaml
  charts/finrem-ps/values.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ps-pr-101
