Repository hmcts/finrem-payment-service, pull requests merged in 2022-03, with the labels that each got.

#121 Java chart update Update Chart.yaml
  charts/finrem-ps/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ps-pr-121

#122 Update jackson version
  build.gradle
  charts/finrem-ps/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ps-pr-122

#123 suppress jackson vul until fixed version available
  dependency-check-suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ps-pr-123
